body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.page {
    height: 100%;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

@media (max-width: $mobile-width-only) {
    .container {
        max-width: 100%;
        margin: 0;
        padding: 0;
    }
}

.page-main__img {
    width: 100%;
}