//Colors
$basic-black: #131417;
$basic-grey: #252830;
$basic-light-grey: #FAFAFA;
$basic-coral: #EB5757;
$basic-orange: #F2994A;
// Viewports
$tablet-width: 768px;
$desktop-width: 1025px;
$desktop-width-2: 1440px;
$mobile-width-only: 375px;